@model List<AuthorViewModel>

@{
    ViewData["Title"] = "User Author List";
}

<h2>User Author List</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Nationality</th>
            <th scope="col">Bio Notes</th>
            <th scope="col">Genres</th>
            <th scope="col">Books</th>
            <th scope="col">Remove</th>
            @*TODO: Reference RPG Razor pages app to get a card style layout*@
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>@Model[i].Firstname</td>
                <td>@Model[i].Lastname</td>
                <td>@Model[i].Nationality</td>
                <td>@Model[i].BiographyNotes</td>
                @foreach (var genre in Model[i].Genres)
                {
                    <td>@genre.GenreName (@genre.GenreDescription)</td>
                }
                @foreach (var book in Model[i].Books)
                {
                    <td>@book.Title</td>
                }
                <td><a asp-controller="Author" asp-action="DeleteAuthor" asp-route-id="@Model[i].Id" class="btn btn-danger">Delete</a></td>

            </tr>
        }
    </tbody>
</table>

