@model List<AuthorViewModel>
 
@{
    ViewData["Title"] = "User Author List";
}

<h2>User Author List</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Bio Description</th>
            <th scope="col">DOB</th>
            <th scope="col">Nationality</th>
            <th scope="col">Genres</th>
            <th scope="col">Books</th>
            @*TODO: May want to change layout to be more grid based to display all book/genre properties*@
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
        <tr>
            <td>@Model[i].Firstname</td>
            <td>@Model[i].Lastname</td>
            <td>@Model[i].AuthorBio.BiographyDescription</td>
            <td>@Model[i].AuthorBio.DateOfBirth</td>
            <td>@Model[i].AuthorBio.Nationality</td>
            @foreach (var genre in Model[i].Genres)
            {
               <td>@genre.GenreName (@genre.GenreDescription)</td>      
            }
            @foreach (var book in Model[i].Books)
            {
               <td>@book.Title</td>
            }


        </tr>
        }
     </tbody>
    </table>

